.open-sans-menu { font-family: 'Open Sans', sans-serif; font-weight: 800; }
.open-sans-bold { font-family: 'Open Sans', sans-serif; font-weight: 700; }
.open-sans-normal { font-family: 'Open Sans', sans-serif; font-weight: 400; }
.color-dark { color: #363d41; }
.color-blue { color: #22A7F0; }
.color-grey { color: #63686b; }

body {

	background-image: url("../imgs/bg.jpg");
	background-repeat: repeat;

}

.navbar {

	width: 100%;
	-webkit-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.2);
}

nav.nav-menu { 
	max-width: 1400px; 
	margin: 10px auto 10px auto; 
	padding:0 10px;
}

div.menu-item { 
	height:80px; 
	margin:0; 
	font-size: 24pt;
	display:inline-block;
	line-height: 80px;
}
div.menu-item:first-child{

	margin-right: 5%;
	float:left;

}

div.menu-item-left { 

	/*border-left: 1.5px solid; 
	border-color: #22A7F0;	*/
	padding-left: 4px;
	margin-right: 4%;
}


div.logo{
	
	margin: 10px 0 0 55px;

}

div.menu-item-left::first-letter {color: #22A7F0;}

menu-icon {
	font-size: 35pt;
}

div.menu-item-right {
	
	float:right;

}

div.menu-search {

	border: 1px solid #a19f9f;
	width: 242px;
	height: 29px;
	border-radius: 4px;
	background-color: rgba(213,212,212,0.31);
	position:relative;
	display:block;
	line-height: 15px;
	margin-right: 60px;
	margin-top: 26px;

}


div.menu-search input {
 
	width:211px; 
	height:100%; 
	border:none; 
	border-left:1px solid #22A7F0;
	border-right:1px solid #a19f9f;
	margin-left: 30px;
	overflow: hidden;
	border-radius: 0px 4px 4px 0px;
	font-family: 'Open Sans', sans-serif; font-weight: 400;
	color: #a9a9a9;
	font-size: 13pt;
	padding-left: 22px;
	line-height: 25px;
	
}

div.menu-search i { 
	position: absolute;
	font-size: 16pt;
    left: 6px;
	top: 7px;
}

div.menu-user {

	font-family: 'Open Sans', sans-serif; font-weight: 300; 
	color: #63686b;
	position:relative;
	padding-left: 68px;
	line-height: 34px;
	margin-top:6px;
	

}
div.menu-user p {

	margin:0;
	padding:0;

}

div.menu-user p#username {

	font-size: 25pt;

}
div.menu-user p#notif {

	font-size: 16pt;

}


div.menu-user img {

	width: 65px;
	height: 65px;
	border-right: 4px solid #22A7F0;
	position:absolute;
	left:0;
	right:0;

}


.menu {
	
	height: auto;
	border-right: 1.5px solid #ececec;
	margin-left: 0;
	color: #a19f9f;
	font-size: 28pt;
	
	float:left;
	padding-right: 0px;
	margin-top: -20px;
	padding-top: 9px;
	padding-bottom: 700px;

}

.menu > button {

	margin: 0px 0 19px 56px;

}


div.main .content {
	
	margin-left:4%;
	float:left;

}

div.project-board {
	
	width: 800px;
	height: 82;
	
	border-radius: 0 5px 5px 0px;
	border-color: #D64541;
	border-width: 1px;
	border-style: solid;
	
	padding: 1px;
	font-family: 'Open Sans', sans-serif; font-weight: 400;
	
	margin-bottom: 20px;
	
	-webkit-box-shadow: 2px 6px 32px -6px rgba(0,0,0,0.51);
	-moz-box-shadow: 2px 6px 32px -6px rgba(0,0,0,0.51);
	box-shadow: 2px 6px 32px -6px rgba(0,0,0,0.51);
	position: relative;
	
}


div.project-board h1 { margin-top: 17px; margin-left:15px; color: black;}

div.project-board #project-menu{

	position:absolute;
	right: 29px;
	top: 5px;
	font-size: 30pt;
	
}

button.suxess-button {

	background-color: #22A7F0; /* PICTION BLUE */
	padding: 10px 30px;
	font-family: 'Open Sans', sans-serif; font-weight: 400;
	color: white;
	border: none;
	border-radius: 4px;
	
}

button.suxess-button:hover {

	background-color: #2574A9;
	
}

button.suxess-button-icon { padding-left: 12px; padding-right: 20px;} 

button.suxess-button-icon i {
	
	float:left;
	font-size: 20pt;
	line-height: 20px;
	margin-right: 10px;
	
}

button.suxess-button-new {

	background-color: #e74c3c;
	text-transform: uppercase;	
	font-weight: 800;
	font-size: 15pt;
	padding-top: 6px;
	padding-bottom: 6px;

}

button.suxess-button-new:hover{ background-color: #D91e18;}
button.suxess-button-new i {
	line-height: 28px;	
	margin-right:8px;
}

.suxess-nav-left ul{

	list-style-type: none;
	font-family: 'Open Sans', sans-serif; font-weight: 400;
	font-size: 17pt;
	margin: 0;
    padding: 0;
	
}


.suxess-nav-left ul li { 
	border-bottom: 1px solid #ececec;
	padding: 10px 20px; 
}

.suxess-nav-left ul li:hover {
	background-color:#efefef;	
}
.suxess-nav-left ul li.current{
	background-color:#F5F5F5;
}
.suxess-nav-left ul li.current a i {

	margin-left: -24px;
    margin-right: -5px;

}

.suxess-nav-left ul li:first-child{ border-top: 1px solid #ececec;} 
.suxess-nav-left ul li a { color: black; margin-right: 25px;}
.suxess-nav-left ul li a:hover{ text-decoration:none;}
.suxess-nav-left ul li a:active { text-decoration:none;}
.suxess-nav-left ul li a:visited { text-decoration:none;}
.suxess-nav-left ul li a:link{ text-decoration:none;}
.suxess-nav-left ul li > i { float:right; color: black; font-size: 18pt; line-height:31px;}
		
		
		
		
		
		
		
		
		
		
		
		
		