//--------------------------------------
// This file contains all sass variables
//--------------------------------------

//global size scale
$scale: 1.0;

//main colors - 
$blue: #22A7F0;
$blue-darken: #2980b9;
$green: #1BBC9B;
$bluewood: #34495E;
$alice-blue: #E4F1FE;
$red: #e74c3c;
$red-darken: #C0392B;



// Main text color
$text-color: #222 !default;

// Main brand color
$brand-color: $blue !default;

//Main background color
$main-background-color: $alice-blue !default;

//link color
$link-color: #fff;
$link-hover-color: $green;
// Regular font family
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/**
* Buttons
*/
$btn-font-size: 16px;
$btn-font-weight: 400;
$btn-icon-size: 20px;
/**
* Header
*/
//header sizes
$header-height: 80px * $scale;
$search-size: 16% * $scale;
$navbar-profile-width: 270px * $scale;

//header font sizes
$header-item-font-size: 24px * $scale;
$navbar-profile-font-size: 15px * $scale;
$logo-font-size: 28px * $scale;
$profile-name-font-size: 20px * $scale;

//header font weights
$header-font-weight: 700;
$navbar-profile-font-weight: 500;
$logo-font-weight: 800;

//header colors
$header-bg-color: $bluewood; 
$header-shadow: 0px 3px 10px -2px rgba(0,0,0,0.2);
$header-link-color: #fff;

/** 
* Sidebar 
*/
$sidebar-open-width: 250px * $scale;
$sidebar-closed-width: 70px * $scale;

/** 
* Breadcrumbs 
*/
$breadcrumbs-background: $blue;
$breadcrumbs-background-even: $blue-darken;
$breadcrumbs-background-hover: $green;
$breadcrumbs-height: 36px;