//--------------------------------------
// This file contains all sass variables
//--------------------------------------

//global size scale
$scale: 1.0;

// Main text color
$text-color: #222 !default;

// Main brand color
$brand-color: #22A7F0 !default;

//Main background color
$main-background-color: #E4F1FE !default;

//link color
$link-color: #000;

// Regular font family
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/**
* Header
*/
//header sizes
$header-height: 80px * $scale;
$search-size: 16% * $scale;
$navbar-profile-width: 270px * $scale;

//header font sizes
$header-item-font-size: 24px * $scale;
$navbar-profile-font-size: 15px * $scale;
$logo-font-size: 28px * $scale;
$profile-name-font-size: 20px * $scale;

//header font weights
$header-font-weight: 700;
$navbar-profile-font-weight: 500;
$logo-font-weight: 800;

//header colors
$header-bg-color: #fff; 
$header-shadow: 0px 3px 10px -2px rgba(0,0,0,0.2);

/** 
* Sidebar 
*/
$sidebar-open-width: 250px * $scale;
$sidebar-closed-width: 70px * $scale;