//-------------------------------------------------
// This file contains all styles related to breadcrumbs
//-------------------------------------------------

.bredcrumbs-wrapper{
  width: 100%;
  height: $breadcrumbs-height;
}

#breadcrumb{
  list-style:none;
  display: inline-block;
  padding-left: 0px;
  position: fixed;
  .icon{
    font-size: 14px;
  }
  
  li{
    float:left;
    a{
      color:#FFF;
      display:block;
      background: $breadcrumbs-background;
      text-decoration: none;
      position:relative;
      height: $breadcrumbs-height;
      line-height: $breadcrumbs-height;
      padding: 0 10px 0 5px;
      text-align: center;
      margin-right: 23px;
      outline: 0;
    }
    &:nth-child(even){
      a{
        background-color: $breadcrumbs-background-even;
        
        &:before{
          border-color:$breadcrumbs-background-even;
          border-left-color:transparent;
         }
        &:after{
          border-left-color:$breadcrumbs-background-even;
        }
      }
    }
    &:first-child{
      a{
        padding-left:15px;
        &:before{
          border:none;
         }
      }
    }
    
    a{   
      &:before,
      &:after{
        content: "";
        position:absolute;
        top: 0;
        border:0 solid $breadcrumbs-background;
        border-width: $breadcrumbs-height/2 10px;
        width: 0;
        height: 0;
      }
      &:before{
        left:-20px;
        border-left-color:transparent;
      }
      &:after{
        left:100%;
        border-color:transparent;
        border-left-color: $breadcrumbs-background;
      }
      &:hover{
        background-color: $breadcrumbs-background-hover;
        
        &:before{
          border-color: $breadcrumbs-background-hover;
          border-left-color:transparent;
         }
        &:after{
          border-left-color: $breadcrumbs-background-hover;
        }
      }
      &:active{
        background-color: $breadcrumbs-background-hover;
        
        &:before{
          border-color: $breadcrumbs-background-hover;
          border-left-color:transparent;
         }
        &:after{
          border-left-color: $breadcrumbs-background-hover;
        }
      }
    }
  }
}