//-------------------------------------------------
// This file contains all styles related to buttons
//-------------------------------------------------

.btn{
	background-color: $blue;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 7px 30px 7px 30px;
	font-weight: $btn-font-weight;
	font-size: $btn-font-size;
	@include on-event {
		background-color: $blue-darken;
		color: white;
	}
	&-icon{
		padding-left: 12px; 
		padding-right: 20px;
		i {
			float:left;
			font-size: $btn-icon-size;
			line-height: $btn-icon-size;
			margin-right: 10px;
		}
	}
	&-red{
		background-color: $red;
		@include on-event {
			background-color: $red-darken;
			color: white;
		}
	}
}