//--------------------------------------------------------
// This file contains all styles related to website sidebar
//--------------------------------------------------------

#main-wrapper.open {
	#sidebar-wrapper {
    	left: ($sidebar-open-width - $sidebar-closed-width);
	}
	.menu{
		&-new-btn{
			display: block;
			float: none;
				&-small{
					display: none;
				}
		}
		&-swap{
			margin: 50px 0 0 100px;
			float: none;
	}
	}
}

#sidebar-wrapper{
  width: $sidebar-open-width;
  height: 100%;
  background-color: white;
  margin-left: - ($sidebar-open-width - $sidebar-closed-width);
  position: fixed;
  left: 0;
  background-color: $brand-color; 
  transition: all .4s ease 0s;
}

.menu{
	padding-top: 30px;
	&-new-btn{
		display: none;
		margin: 20px 0 0 70px;
		font-size: 18px;
		font-weight: 600;
		float: left;
		i {
			font-size: 28px;
			line-height: 28px;
		}
		&-small{
			padding: 7px 7px 7px 7px;
			font-weight: 600;
			margin-left: auto;
			margin-top: 20px;
			margin-right: 14px;
			display: block;
			i {
				font-size: 28px;
				line-height: 28px;
				margin: 0;
			}
		}
	}
	a{
		outline: 0;
	}
	&-swap{
		color: white;
		font-size: 35px;
		display: block;
		margin: 50px 20px 0 0;
		float: right;
	}
	ul{
		list-style-type: none;
		font-size: 17pt;
		margin: 0;
	    padding: 0;
	    li{
	    	border-right: 7px solid transparent;
			padding: 10px 20px; 
			i{
				float: right;
				color: white;
				font-size: 25px;
			}
			@include on-event{
				background-color: $blue-darken;
				i, a{
					color: $green;
				}
			}
			a{
				display: block;
			}
			&.active{
				background-color: $blue-darken;
				border-right: 7px solid $green;
				i, a{
					color: $green;
				}
			}
	    }
	}
}